.container1 {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 20% 80%;
}

.container2 {
  display: grid;
  grid-template-rows: 50px 380px 50px;
}

.sidebar {
  background-color: gold;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: aqua;
}

.main-container {
  background-color: lightcoral;
}

.footer {
  background-color: lightgreen;
}

img {
  width: 100px;
  height: 100px;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 20px;
}
a {
  text-decoration: none;
}
